@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3bb6ba;
    font-weight: 300;
    background: url(/img/background@2x.png) no-repeat center center fixed;
    background-size: contain;
    background-position-x: right;
    background-color: thistle;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2 {
    font-size: 40px;
    font-weight: 200;
}

.wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
    /* background: #3bb6ba; */
}

.container {
    max-width: 600px;
    /* margin: 0 auto; */
    padding: 80px 0;
    height: 400px;
    text-align: center;
}


form {
    padding: 20px;
}

form input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid #53e3a6;
    background-color:#53e3a6;
    width: 300px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: center;
    color: white;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.8;
}

form input:hover {
    background-color: #53e3a6;
    opacity: 1;
}

form input:focus::placeholder {
    color: transparent;
}

form input:focus {
    background-color: #53e3a6;
    width: 320px;
    /* color: #3bb6ba; */
}
 
::placeholder {
    color: white;
    opacity: 1;
    font-size: 18px;
}

form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}